.my_header,.my_footer{width:100%}
/*????*/
@media (min-width:992px) {
    .my_header{height:5.5rem;}
    .my_footer{height:22rem;}
}
/*§³??????*/
@media (max-width:991px) and (min-width:576px) {
    .my_header{height:11rem;}
    .my_footer{height:38rem;}
}

.breadcrumb-item + .breadcrumb-item::before{
    content:">";
}
.my_img_w img{width:6rem;}

.jage{font: 34px "simhei";
    color: #0aa1ed;
    font-family: Arial;}
.cc:hover{
    text-decoration: none;
    border:1px solid #0AA1ED;
     color: #0AA1ED  ;
}
.ccc{border:1px solid black;
        padding:10px;
    color:black;
}
.bb{margin-left:56px;}
.c:hover{
    text-decoration: none;

    color: #0AA1ED  ;
}


